@charset "UTF-8";

@media print {

}

@media screen and (max-width:768px) {

    nav {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: left;
        padding-top: 5px;
        
    }

    #logo {
        padding-left: 6px;
        gap: 10px;
    }

    #logo img {
        width: 25px;
        height: 25px;
    }

    #links {
        padding: 10px;
        gap: 10px;
    }

    .material-symbols-outlined {
        display: block;
        width: 100vw;
        background-color: rgba(211, 211, 211, 0.575);
        text-align: center;
        padding: 10px;
        cursor: pointer;
    }

    .entrar {
        display: none;
    }

    #lista-itens{
        margin: auto;
        list-style: none;
    }

    #lista-itens li{
        list-style: none;
    }

    #cabecalho p {
        width: auto;
    }

    #numeros {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    #numeros div {
        border: 2px solid rgba(211, 211, 211, 0.534);
        border-radius: 20px;
        margin: auto;
        width: 300px;
        padding: 10px;
        text-align: center;
        transform: translate(-50px, -50px);
    }

    #numeros span{
        font-size: 30px;
    }

    #vagas h1{
        margin-left: 60px;
    }

    #vagas p{
        text-align: center;
        max-width: 400px;
    }

    #vagas img {
        width: 450px;
    }

    #emprego {
        margin-left: 50px;
    }

    #emprego div {
        width: 300px;    
    }

    #depoimento {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #depoimento p {
        font-size: 20px;
        width: 300px;
        text-align: left;
    }

}

@media screen and (min-width:768px) and (max-width:992px) {
    
}



@media screen and (min-width:992px) and (max-width:1200px) {
    
}



@media screen and (min-width:1200px) {
    
}